<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<script src="js/angular.min.js"></script>
<script src="js/angular-local-storage.min.js"></script>
<script src="js/save.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/my.css">
    <title>Angular app</title>
</head>
<body>
<div class="container" ng-controller="saveController">
<div class="row">
<div class="col-md-6 col-md-offset-3">
    <div class="col-md-3 text-center" style="background-color: lightblue;"><h3>В море</h3><h3>{{insea}}</h3></div>
    <div class="col-md-3 text-center" style="background-color: lightgreen"><h3>В порту</h3><h3>{{inport}}</h3></div>
</div>
</div>
<div class="row"> 
<div class="col-md-12">
    <table class="table table-striped">
    <thead>
        <tr >
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер лодки</th>
            <th>В море?</th>
        </tr>
    </thead>
        <tr class="sea{{todo.sea}}" ng-repeat="todo in boats">
            <td>{{todo.name}}</td>
            <td>{{todo.lastname}}</td>
            <td>{{todo.number}}</td>
            <td><input type="checkbox" ng-model="todo.sea" ng-click="Save(boats)"></td>
        </tr>
    </table>
    <a href="" ng-click="RemoveAll()">Remove all</a>
</div>
</div>
</div>
</body>
</html>