{% extends "base.html" %}
{% block content %}
<h3>Изменение информации о лодке.</h3>
<div class="row">
<div class="col-md-12">
	<form action="/edit/" method=post>
      {{ form.hidden_tag() }}
      <p>
          Имя:<br>
          {{ form.name(size=80, value=name) }}<font color="red">{{ errors['name'] }} </font><br>
      </p>
      <p>
          Номер:<br>
          {{ form.number(size=80, value=number) }}<font color="red">{{ errors['number'] }}</font><br>
      </p>
      <p>
          Номер стоянки:<br>
          {{ form.pier(size=80, value=pier) }}<font color="red">{{ errors['pier'] }}</font><br>
      </p>
      <p>
          Водительское удостоверение:<br>
          {{ form.license(size=80, value=license) }}<font color="red">{{ errors['license'] }}</font><br>
      </p>
      <p><input type="submit" value="Сохранить"></p>
  </form>
</div>
</div>
{% endblock %}
