{% extends "base.html" %}
{% block content %}
<h1>Вход.</h1>
<div class="row">
<div class="col-md-12">
	<form action="" method="post" name="saveboats">
      {{ form.hidden_tag() }}
      <p>
          Логин:<br>
          {{ form.login(size=80) }}<br>
      </p>
      <p>
          Пароль:<br>
          {{ form.password(size=80) }}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><font color="red">{{ errors['namepass'] }}</font></p>
      <p><font color="red">{{ errors['fields'] }}</font></p>
      <p><input type="submit" value="Войти"></p>
  </form>
</div>
</div>
{% endblock %}
